@font-face {
    font-family: "BalooBhaina2";
    src: url("/fonts/BalooBhaina2/BalooBhaina2-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "BalooBhaina2";
    src: url("/fonts/BalooBhaina2/BalooBhaina2-Medium.ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: "BalooBhaina2";
    src: url("/fonts/BalooBhaina2/BalooBhaina2-ExtraBold.ttf");
    font-weight: 900;
  }
  @font-face {
    font-family: "BalooBhaina2";
    src: url("/fonts/BalooBhaina2/BalooBhaina2-SemiBold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "BalooBhaina2";
    src: url("/fonts/BalooBhaina2/BalooBhaina2-Regular.ttf");
    font-weight: 400;
  }