.container {
    display: flex;
    justify-content: center;

    background-color: #2194C1;
}

.content {
    width: 850px;
    max-width: 100%;
    justify-content: left;
    margin-top: 2.5rem;

    border-radius: 2rem 2rem 0 0;
    background-color: #FFFFFF;

    h1 {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
}

.address {
    margin: 2.5rem 0 0;
    border-radius: 1rem;
    background-color: #c4c4c4;

    span {
        display: block;
        margin-left: 1rem;
    }
}

.items {
    margin: 2.5rem 0 0;
    background-color: #c4c4c4;

    h1 {
        display: flex;
        justify-content: center;
    }
}