.ongContainer {
    display: flex;
    height: 91.5vh;
    width: 100%;
    background-color: #2194c1;
  

}

.content {
    width: 75.9%;
    height: 93%;
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    overflow-y: scroll;

    border-radius: 2rem 0 0 0;
    background-color: #FFFFFF;

    h1 {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
}

.address {
    margin: 2.5rem 0 0;
    border-radius: 1rem;
    background-color: #c4c4c4;
    width: 50%;

    span {
        display: block;
        margin-left: 1rem;
    }
}

.items {
    display: flex;
    margin: 2.5rem 0 0;
    background-color: #c4c4c4;
    width: 50%;
    align-content: space-between;

    .ul{
        flex:1
        
    }

    .li{
        display: flex;
        text{
            flex: 1;
        }
        
    }
}
