.container {
  display: flex;
  
  background-color: #2194c1;
}

.content {
  display: flex;
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
  
  background-color: #2194c1;
}

.nav {
  width: 300px;
  margin-top: 3rem;
  margin-right: 4rem;

  justify-content: left;
  border-radius: 2rem 2rem 0 0;
}

.cardsContent {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  border-radius: 2rem 2rem 0 0;

}