.container {
  display: flex;
  height: 91.5vh;
  width: 100%;
  background-color: #2194c1;
}

.nav {
  width: 300px;
  background-color: #2194c1;
  margin-right: 4rem;
  justify-content: left;
  border-radius: 0rem 2rem 0 0;
}

.cardsContent {
  display: flex;
  overflow-y: scroll;
  padding-top: 2%;
  margin-top: 3rem;

  border-radius: 2rem 0 0 0;
  background-color: #ffffff;
  height: 93%;
  width: 80%;
}